[build-system]
# Specify the required build system.
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.bork]
project_name = "Bork"

[tool.bork.zipapp]
enabled = true
main = "bork.cli:zipapp_main"

[tool.bork.release]
pypi = true
github = true
github_repository = "duckinator/bork"
strip_zipapp_version = true

[tool.bork.aliases]
# Runs *only* pylint and flake8. (Not the actual tests.)
lint = "pytest -k 'flake8 or pylint or mypy' --pylint --flake8 --mypy --verbose"
# Runs fast tests, pylint, and flake8.
test = "pytest --pylint --flake8 --mypy --verbose -m 'not slow'"
# Runs slow tests.
test-slow = "pytest --verbose -m slow"
# Runs fast tests, slow tests, pylint, and flake8.
test-all = "pytest --pylint --flake8 --mypy --verbose"
