[build-system]
# Specify the required build system.
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.bork.zipapp]
enabled = true
main = "bork.cli:zipapp_main"

[tool.bork.release]
pypi = true
github = false
strip_zipapp_version = true

[tool.bork.aliases]
# Runs *only* pylint and flake8. (Not the actual tests.)
lint = "pytest -k 'flake8 or pylint or mypy' --pylint --flake8 --mypy --verbose"
# Runs tests, pylint, and flake8.
test = "pytest --pylint --flake8 --mypy --verbose"
